body {
	line-height: 1.6;
}

.left {
	float: left;
}
.right {
	float: right;
}
.text_center {
	text-align:center;
}
.half {
	width: 50%;
}
.meta {
	border-bottom: 1px solid #ccc;
	padding: 12px;
	margin-bottom: 24px;
}
.meta.right {
	border-left: 1px solid #ccc;
}
.wrapper p {
	padding: 12px;
}

.lead {
	padding: 12px;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}
	.lead br {
		display: none;
	}
.description {
	font-size: 14px;
	font-weight: normal;
}

h1 {
	background: #E5190F;
	padding: 20px 12px !important;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.5em !important;
}
h2.black {
	background: #000;
	padding: 12px 12px !important;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3em !important;
}
.date {
	background: #000;
	color: #fff;
	padding: 12px;
}
.imageWrapper img {
	margin: 0 auto;
	display: block;
	max-width: 480px;
}
.black_background {
	background: black;
}
#mainBar {
	background: -webkit-linear-gradient(top, rgba(241,60,50,1) 0%,rgba(188,22,14,1) 100%); 
	background: linear-gradient(to bottom, rgba(241,60,50,1) 0%,rgba(188,22,14,1) 100%); /* W3C */
}

#mainMenuButton {
	background: none;
	border-radius: 0;
	border: none;
	border-right: 1px solid #AC211A;
	position:relative;
}
#mainMenuButton:after {
	position: absolute;
	height: 100%;
	right:-2px;
	border-right: 1px solid blue;
}