.left {
	float: left;
}
.right {
	float: right;
}
.text_center {
	text-align:center;
}
.half {
	width: 50%;
}
.meta {
	border-bottom: 1px solid #ccc;
	padding: 12px;
}
.meta.right {
	border-left: 1px solid #ccc;
}
.wrapper p {
	padding: 12px;
}

.lead {
	font-size: 14px;
	font-weight: bold;
}
.description {
	font-size: 14px;
	font-weight: normal;
}

.singleEvent h1 {
	background: red;
	padding: 12px;
	color: #fff;
}
